# Default ignored files
/shelf/
/.idea
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Plamedie\Documents\ADP3assignement2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
